.pokemon-card {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f8f9fa;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.pokemon-card h3 {
  font-size: 18px;
  color: #333;
}
